/* 共通部分 */
body {
  background-color: #17202a;
  color: #fff;
}
div.skeleton-card {
  padding: 0;
}
.container {
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

li {
  list-style: none;
}

/* サイドメニュー */
.sidebar {
  padding-left: 15px;
  padding-top: 20px;
  width: 285px;
}

.sidebar-menu-item {
  color: #fff;
  text-decoration: none;
}

li.side-menu {
  margin-top: 15px;
}

.side-menu img {
  margin-right: 15px;
  vertical-align: middle;
}

.sidemenu-text {
  vertical-align: middle;
  display: inline-block;
}

a.top-menu-item {
  padding-top: 20px;
}

.post-form {
  margin-top: 30px;
  display: block;
}

.post-form-label {
  margin-bottom: 10px;
}

.post-form textarea {
  background: inherit;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}

.button {
  text-align: right;
  margin-left: auto;
  display: block;
  margin-top: 10px;
  background-color: #4a27d1;
  color: #fff;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

/* 認証ページ */
.auth-button {
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px;
  margin-top: 15px;
}

.register {
  position: absolute;
  width: 380px;
  background-color: #fff;
  right: 0;
  left: 0;
  margin: auto;
  top: 20%;
  text-align: center;
  height: 295px;
  border-radius: 7px;
}

.login {
  position: absolute;
  width: 380px;
  background-color: #fff;
  right: 0;
  left: 0;
  margin: auto;
  top: 20%;
  text-align: center;
  height: 235px;
  border-radius: 7px;
}

.auth-input {
  margin: 0 auto;
  width: 300px;
  padding: 12px 0 12px 5px;
  margin-bottom: 15px;
  border: 1px solid #333;
  border-radius: 5px;
}

.last {
  margin-bottom: 5px;
}

.auth-title {
  color: #000;
  text-align: center;
  padding: 20px 0;
}

.side-menu {
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin: 20px 0 0 20px;
  width: 150px;
}

.header-menu {
  vertical-align: middle;
  margin: 20px 30px 0 0px;
}

.header-menu-item {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

/* トップページ */
.post-list {
  width: 100%;
  margin-left: 30px;
  padding-top: 15px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
}

.post-title,
.comment-title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #fff;
}

.post-list-item {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.flex {
  display: flex;
  align-items: center;
}

.detail {
  margin-left: 50px;
}

.message {
  padding: 20px;
  border-bottom: solid 1px white;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.text {
  margin-top: 15px;
}

.number {
  margin-left: 10px;
  margin-right: 10px;
}

.red-text {
  color: #ea3f60;
}

.errors {
  color: red;
  font-size: 12px;
}

/* コメントページ */
.section {
  margin-left: 30px;
  width: 100%;
}

.comment-area {
  padding-top: 15px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
}

.comment-name {
  font-size: 18px;
  margin-bottom: 10px;
}

.comment-text {
  font-size: 14px;
}

.comment-list-title {
  font-size: 18px;
  font-weight: normal;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.comment-list-item {
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}

.comment-form {
  margin-top: 15px;
  display: block;
}

.comment-form textarea {
  background: inherit;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 96%;
}

.btn-padding {
  padding: 10px 20px;
}

.empty-comment {
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }

  .post-list {
    margin: 30px 0 30px 15px;
  }

  .section {
    margin: 30px 0 30px 15px;
  }

  .register,
  .login {
    width: 350px;
    top: 20%;
  }
}
