body {
  background-color: #17202a;
  color: #fff;
}

.container {
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.sidebar {
  padding-left: 15px;
  padding-top: 20px;
  width: 285px;
}

li {
  list-style: none;
}

li.side-menu {
  margin-top: 15px;
}

.side-menu img {
  margin-right: 20px;
  vertical-align: middle;
}

.form {
  margin-top: 30px;
  display: block;
}

.form-label {
  margin-bottom: 10px;
}

.form textarea {
  background: inherit;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}

.button {
  text-align: right;
  margin-left: auto;
  display: block;
  margin-top: 10px;
  background-color: #4a27d1;
  color: #fff;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.auth-button {
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px;
  margin-top: 15px;
}

.article {
  margin-left: 30px;
  width: 100%;
  padding-top: 15px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
}

.article-title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #fff;
}

.article-list-item {
  padding-top: 20px;
  padding-left: 20px;
}

.user-info {
  align-items: center;
  display: flex;
}

.user-name {
  font-weight: bold;
  font-size: 18px;
}

.heart {
  margin: 0 10px;
}

.cross {
  margin: 0 50px 0 10px;
}

.article-list li {
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.content {
  padding-top: 15px;
}

.errors {
  color: red;
  font-size: 12px;
}

.register {
  position: absolute;
  width: 380px;
  background-color: #fff;
  right: 0;
  left: 0;
  margin: auto;
  top: 20%;
  text-align: center;
  height: 295px;
  border-radius: 7px;
}

.login {
  position: absolute;
  width: 380px;
  background-color: #fff;
  right: 0;
  left: 0;
  margin: auto;
  top: 20%;
  text-align: center;
  height: 235px;
  border-radius: 7px;
}

.auth-input {
  margin: 0 auto;
  width: 300px;
  padding: 12px 0 12px 5px;
  margin-bottom: 15px;
  border: 1px solid #333;
  border-radius: 5px;
}

.last {
  margin-bottom: 5px;
}

.auth-title {
  color: #000;
  text-align: center;
  padding: 20px 0;
}

.side-menu {
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin: 20px 0 0 20px;
}

.header-menu {
  vertical-align: middle;
  margin: 20px 30px 0 0px;
}

.header-menu-item {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }
  .article {
    margin-left: 15px;
    margin-top: 30px;
  }
  .register,
  .login {
    width: 350px;
    top: 20%;
  }
}
